.chat__wrapper .card {
  background: #ffffff;
  border-radius: 5px;
  margin: 25px auto;
}

.chat__wrapper .card-header {
  background: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #f4f4f4;

  display: flex;
  align-items: center;
  padding: 1rem;
  /* justify-content: space-between; */
}

.chat__wrapper .chat__head_pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: darkblue;
  margin-right: 15px;
  position: relative;
}

.chat__head_pic .online__badge {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #20d234;
  border: 2px solid #ffffff;
}

.chat__wrapper .chat__head h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 130%;
  color: #202020;
  margin: 0;
}

.chat__wrapper .chat__head p {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #202020;
  opacity: 0.7;
  margin: 0;
}

.chat__message {
  max-height: 500px;
  overflow-y: scroll;
  padding: 1rem;
}

.chat__message .chat__sender {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-bottom: 12px;
  width: 70%;
}

.chat__message .chat__admin {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-bottom: 12px;
  width: 70%;
  margin-left: auto;
  flex-direction: column;
}

.chat__message .chat__sender p {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #333333;
  margin: 0;

  background: #e2e2e2;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-right: 10px;
  position: relative;
}
.chat__message .chat__admin p {
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  color: #333333;
  margin: 0;

  background: #f7eae2;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-left: 10px;
  position: relative;
}

.chat__message .chat__sender .chat__time,
.chat__message .chat__admin .chat__time,
.chat__name{
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.005em;
  color: #202020;
  opacity: 0.3;
  margin: 0;
}

.chat__message .chat__sender .chat__time {
  position: absolute;
  bottom: 0;
  right: -60px;
}
.chat__message .chat__admin .chat__time {
  position: absolute;
  bottom: 0;
  left: -60px;
}

.chat__date_splitter {
  margin: 10px auto;
}

.chat__date_splitter p {
  font-weight: normal;
  font-size: 10px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.005em;
  color: #616161;
}

.chat__input {
  margin: 25px auto;
  width: 100%;
  padding: 1rem;
}

.chat__input input {
  width: 100%;
}

.chat__input input {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11),
    0px 0.8px 1.8px rgba(0, 0, 0, 0.13);
  border-radius: 5px;
  /*border: transparent;*/
  height: 40px;
}

.chat__input button {
    background: #ffffff;
    border: 1px solid #f4f4f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.11),
    0px 0px 0px rgba(0, 0, 0, 0.13);
    border-left: transparent;
}

.chat__input button:hover {
  background: #ffffff;
}

/*button*/
#button__scroll__top {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button__scroll__top::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button__scroll__top:hover {
  cursor: pointer;
  background-color: #333;
}
#button__scroll__top:active {
  background-color: #555;
}
#button__scroll__top.show {
  opacity: 1;
  visibility: visible;
}
/**/

