.primer__btn{
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: white;
    color: black;
    width: 100px;
    transition: all 300ms;
}

.primer__btn:hover{
    background-color: whitesmoke;
}

.form-check-input:checked {
    background-color: black;
    border-color: black;
}

.form-check-input:focus {
    border-color: black;
    outline: 0;
    box-shadow: none;
}
