@import "./pack.css";
@import "./drop.css";

* {
    font-family: "Poppins";
}

p {
    margin-bottom: 0;
}

.t_600_white_14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #ffffff;
}

.t_600_white_36 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;

    color: #ffffff;
}

.t_600_black_18 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

.t_600_black_14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.9);
}

.nav-item {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.navbar-brand {
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}

.navbar {
    background-color: white !important;
}

.nav__active {
    border-bottom: 5px solid black;
}

.nav__active a {
    color: black !important;
}

.custom__badge {
    font-size: 20px;
    border-radius: 50%;
    padding: 0.35em 0.35em;
}

.pulse__btn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 0.5rem;
}

.box_pulse__btn {
    border-radius: 5px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.timer_components h1 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 72px;

    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #000000;
}

.swal2-confirm {
    background-color: #198754 !important;
}

.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(25 135 84 / 50%) !important;
}

.blink_red {
    border: 5px solid red;
    animation: blink 800ms infinite;
}

.blink {
    animation: blinker 1s linear infinite;
}

.blink_green {
    border: 5px solid limegreen;
    animation: blink 800ms infinite;
}

.btn-yellow {
    background-color: #ffd600;
}
.btn-green {
    background-color: #00ff47;
}

.blink_orange {
    border: 5px solid orange;
    animation: blink 800ms infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@keyframes blink {
    50% {
        border-color: #fff;
    }
}

.mt__1 {
    margin-top: 1rem;
}

.mt__2 {
    margin-top: 2rem;
}

.mt__3 {
    margin-top: 3rem;
}

.mt__4 {
    margin-top: 4rem;
}

.mt__5 {
    margin-top: 5rem;
}

.mb__1 {
    margin-bottom: 1rem;
}

.mb__2 {
    margin-bottom: 2rem;
}

.mb__3 {
    margin-bottom: 3rem;
}

.mb__4 {
    margin-bottom: 4rem;
}

.mb__5 {
    margin-bottom: 5rem;
}

.mr__1 {
    margin-right: 1rem;
}

.mr__2 {
    margin-right: 2rem;
}

.mr__3 {
    margin-right: 3rem;
}

.mr__4 {
    margin-right: 4rem;
}

.mr__5 {
    margin-right: 5em;
}

.align-center {
    align-items: center;
}

.list-group .list-group-item {
    border: none;
    margin: 5px 0;
}

.list-group-item img {
    border-radius: 5px;
    object-fit: cover;
}

#timeout__text {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-transform: uppercase;
}

.bg__success {
    background-color: #43d787;
}

.bg__fail {
    background-color: #f9461c;
}

.bg__warning {
    background-color: #ffbb00;
}

.bg__info {
    background-color: #0086d6;
}

.btn__close {
    top: 10px;
    right: 10px;
}

.fade {
    transition: opacity 0.2s linear !important;
}

.progress__bar {
    width: 100%;
    height: 5px;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
}

.progress__bar_card {
    width: 100%;
    height: 5px;
    background-color: #00ff47;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
}

#qr_renderer {
    position: absolute;
    bottom: 0px;
}
#qr_renderer_shopee {
    position: absolute;
    bottom: 10px;
}
#qr_renderer_blibli {
    position: absolute;
    bottom: 0px;
}
#qr_renderer_jdid {
    position: absolute;
    bottom: 0px;
}
#qr_renderer_harbolnas {
    position: absolute;
    bottom: 0px;
}

@media print {
    @page {
        size: auto; /* auto is the initial value */

        width: 100%;
    }
    body {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
    }
    .qr_print {
        display: block !important;
        margin-top: -50px;
    }
    .qr_print_shopee {
        display: block !important;
        max-height: 100%;
    }
    .qr_print_blibli {
        display: block !important;
        margin-bottom: -20px;
        max-height: 100%;
    }
    .qr_print_jdid {
        display: block !important;
        margin-bottom: -20px;
        max-height: 100%;
    }
    .qr_print_harbolnas {
        display: block !important;
        margin-bottom: -20px;
        max-height: 100%;
    }
}

button:disabled {
    background-color: #bebebe !important;
    border: 1px solid #bebebe !important;
}

.qr_text{
    color: red;
}
.qr_text_done{
    color: #00BF36;
}

.box__pagination a{
  text-decoration: none;
}

.pagination__item {
    border: 1px solid #35caf0;
    background: white;
    color: #35caf0;
    padding: 6px;
}

.pagination__item.active {
    background: #35caf0;
    color: white;
}

.pagination__item.count {
    padding-left: 12px;
    padding-right: 12px;
}

.pagination__item.prev {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination__item.next {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
