.img__box img {
    height: 100%;
    min-height: 270px;
    min-width: 270px;
    max-height: 300px;
} 

#riwayat_table{
    border-radius: 5px;
}

@media (max-width: 768px) {
    .row__update .justify-content-center {
        justify-content: start !important;
    }
}

@media (max-width: 500px) {
    .img__box img {
        height: 100%;
        min-height: 200px;
        min-width: 200px;
    }
}
