.nav.nav-pills li,
.nav-link {
    color: white;
}

.nav.nav-pills li:hover,
.nav-link:hover {
    color: #cfcbcb;
}

.nav__active {
    color: white;
    border-bottom: 5px solid white;
}

.nav.nav-pills,
.nav.nav-pills li {
    width: 100%;
}

.nav-item{
    margin: 2px auto;
}