/* @import "./sidebar.css"; */

* {
    font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
}

p {
    margin-bottom: 0;
}

.t_600_white_14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #ffffff;
}

.t_600_white_36 {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: flex-end;

    color: #ffffff;
}

.t_600_black_18 {
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;

    color: #000000;
}

.t_600_black_16 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    color: #000000;
}

.t_600_black_14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: rgba(0, 0, 0, 0.9);
}

.t_600_red_14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #ff1b1b;
}

.t_600_gray_14 {
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #0000004d;
}

.t_600_gray_16 {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #0000004d;
}

.t_600_gray_18 {
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #0000004d;
}

.t_600_black_48 {
    font-weight: 600;
    font-size: 48px;
    line-height: 50px;
    display: flex;
    align-items: flex-end;

    color: black;
}

.custom__badge {
    font-size: 20px;
    border-radius: 50%;
    padding: 0.35em 0.35em;
}

.pulse__btn {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 0.5rem;
}

.box_pulse__btn {
    border-radius: 5px;
    padding: 8px 15px;
    text-transform: uppercase;
    font-weight: bold;
}

.timer_components h1 {
    margin-bottom: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 58px;
    line-height: 72px;

    display: flex;
    align-items: flex-end;
    text-align: right;

    color: #000000;
}

.swal2-confirm {
    background-color: #198754 !important;
}

.swal2-confirm:focus {
    box-shadow: 0 0 0 3px rgb(25 135 84 / 50%) !important;
}

.blink_red {
    border: 5px solid red;
    animation: blink 800ms infinite;
}

.blink {
    animation: blinker 1s linear infinite;
}

.blink_green {
    border: 5px solid limegreen;
    animation: blink 800ms infinite;
}

.btn-yellow {
    background-color: #ffd600;
}
.btn-green {
    background-color: #00ff47;
}

.blink_orange {
    border: 5px solid orange;
    animation: blink 800ms infinite;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@keyframes blink {
    50% {
        border-color: #fff;
    }
}

.mt__1 {
    margin-top: 1rem;
}

.mt__2 {
    margin-top: 2rem;
}

.mt__3 {
    margin-top: 3rem;
}

.mt__4 {
    margin-top: 4rem;
}

.mt__5 {
    margin-top: 5rem;
}

.mb__1 {
    margin-bottom: 1rem;
}

.mb__2 {
    margin-bottom: 2rem;
}

.mb__3 {
    margin-bottom: 3rem;
}

.mb__4 {
    margin-bottom: 4rem;
}

.mb__5 {
    margin-bottom: 5rem;
}

.mr__1 {
    margin-right: 1rem;
}

.mr__2 {
    margin-right: 2rem;
}

.mr__3 {
    margin-right: 3rem;
}

.mr__4 {
    margin-right: 4rem;
}

.mr__5 {
    margin-right: 5rem;
}

.align-center {
    align-items: center;
}

.list-group .list-group-item {
    border: none;
    margin: 5px 0;
}

.list-group-item img {
    border-radius: 5px;
    object-fit: cover;
}

#timeout__text {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: red;
    color: white;
    text-transform: uppercase;
}

.bg__success {
    background-color: #43d787;
}

.bg__fail {
    background-color: #f9461c;
}

.bg__warning {
    background-color: #ffbb00;
}

.bg__info {
    background-color: #0086d6;
}

.btn__close {
    top: 10px;
    right: 10px;
}

.fade {
    transition: opacity 0.2s linear !important;
}

.fw__semi {
    font-weight: 600;
}

.progress__bar {
    width: 100%;
    height: 5px;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    left: 0;
}

.progress__bar_card {
    width: 100%;
    height: 5px;
    background-color: #00ff47;
    opacity: 0.9;
    position: absolute;
    bottom: 0;
    left: 0;
}

#qr_renderer {
    position: absolute;
    bottom: 0px;
}
#qr_renderer_shopee {
    position: absolute;
    bottom: 10px;
}
#qr_renderer_blibli {
    position: absolute;
    bottom: 0px;
}

.right-side {
    background-color: #f3f3f3;
    padding-left: 3rem;
    padding-right: 3rem;
}

.list__product .col-md-3 {
    min-width: 175px;
}

.red_dash__card {
    min-width: 175px;
    height: 150px;
    background: #ffffff;
    border: 3px solid #ff1b1b;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.dash__card {
    min-width: 175px;
    height: 150px;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.dcard__name {
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list__product {
    margin-right: unset;
    margin-left: unset;
}

@media (max-width: 1300px) {
    .l_red .col-md-3 {
        margin-right: 10px;
    }
}

@media (max-width: 1050px) {
    .l_red {
        justify-content: space-between;
    }
}

@media (max-width: 768px) {
    .l_red .col-md-3 {
        margin-right: unset;
    }
}

@media print {
    @page {
        size: auto; /* auto is the initial value */

        width: 100%;
    }
    body {
        padding: 0 !important;
        margin: 0 !important;
        width: 100%;
    }
    .qr_print {
        display: block !important;
        margin-top: -50px;
    }
    .qr_print_shopee {
        display: block !important;
        max-height: 100%;
    }
    .qr_print_blibli {
        display: block !important;
        margin-bottom: -20px;
        max-height: 100%;
    }
}

button:disabled {
    background-color: #bebebe !important;
    border: 1px solid #bebebe !important;
}

.bg-dark {
    background-color: #212529;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.btn-dark {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
}

.table-responsive {
    min-height: 0.01%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    caption-side: bottom;
    border-collapse: collapse;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.table-dark {
    --bs-table-bg: #212529;
    --bs-table-striped-bg: #2c3034;
    --bs-table-striped-color: #fff;
    --bs-table-active-bg: #373b3e;
    --bs-table-active-color: #fff;
    --bs-table-hover-bg: #323539;
    --bs-table-hover-color: #fff;
    color: #fff;
    border-color: #373b3e;
    background-color: #373b3e;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__control {
    display: block;
    width: 90% !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.position-relative {
    position: relative !important;
}

.position-absolute {
    position: absolute !important;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

@media (min-width: 1200px) {
    .col-xl-2 {
        flex: 0 0 auto;
        width: 16.66666667%;
    }
}
@media (min-width: 768px) {
    .col-md-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (min-width: 992px) {
    .col-md-5 {
        width: 41.66666667%;
    }
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
